@keyframes animazioneBackground {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotazione {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes saliScendi {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    24% {
        transform: translateY(-50px) rotate(720deg);
    }

    100% {
        transform: translateY(600px) rotate(3600deg);
    }
}