@keyframes animazioneBackground {
    main {
        @keyframes slideBackground {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }

            50% {
                transform: translateX(0%);
            }
        }
    }
}