@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Pixelify+Sans&family=Wix+Madefor+Display&display=swap');

main {
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: gray;
    max-width: 457px;
    height: 457px;
}

header h1 {
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
}

header h6 {
    margin: 10px;
    font-family: 'Pixelify Sans', sans-serif;
}

p {
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 3px;
}

#score {
    background: rgba(255, 255, 255, 0);
}

#dev_info {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}


#volumeBar {
    font-family: 'Wix Madefor Display', sans-serif;
    display: flex;
    justify-content: space-around;
}


#background_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    /* Doppia larghezza per coprire il doppio del contenitore principale */
    height: 100%;
}

.background1,
.background2 {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(../img/background.png);
    animation: animazioneBackground 2s linear infinite;
    margin-left: -1px;
}

#bird {
    width: 32px;
    position: absolute;
    z-index: 2;
    /* z-index indica l'ordine di priorità di visualizzazione dell'immagine. Gli oggetti con z-index più alto vengono sempre visualizzati sopra quelli con z-index più basso */
}

header {
    padding: 20px;
}

.rangeBar {
    display: flex;
    flex-direction: row;
}